<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('img/logo/4il.png') }}" style="width: 40px; height: auto">
            Equipage 4IL
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-lg-none">
        {% if not app.user %}
            <a href="{{ path('fos_user_security_login') }}">
                <div style="color: darkgrey" class="fa fa-lock fa-2x float-right" aria-hidden="true"></div>
            </a>
        {% else %}
            <div class="navbar-brand">
                <a class="btn btn-secondary" href="{{ path('add') }}">
                    <i class="fa fa-user"></i>
                    {{ app.user.username }}
                </a>
            </div>
        {% endif %}
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hulule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Géolocalisation</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="d-none d-lg-block">
        {% if not app.user %}
            <a href="{{ path('fos_user_security_login') }}">
                <div style="color: darkgrey" class="fa fa-lock fa-2x float-right" aria-hidden="true"></div>
            </a>
        {% else %}
            <div class="navbar-brand">
                <a class="btn btn-secondary" href="{{ path('add') }}">
                    <i class="fa fa-user"></i>
                    {{ app.user.username }}
                </a>
            </div>
        {% endif %}
    </div>
</nav>
