<div class="row">
    <div class="col-md-12">
        <div class="card card-outline-success mb-3">
            <div style="background-color: #51575d;" class="card-header" >
                <h5 style="color: whitesmoke">Ils nous soutiennent</h5>
            </div>
            <div class="card-block">
                <p class="card-text">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <a href="http://www.3il-ingenieurs.fr/"><img class="img-fluid" style="height: 120%; width: 120%" src="{{ asset('img/sponsors/3il.png') }}"></a>
                        </div>
                    </div>
                    <div class="row justify-content-md-center align-items-center">
                        <div class="col-md-auto col-md-6 col-lg-3 align-self-center">
                            <a href="http://www.fiducial.fr/"><img style="padding-top: 50px" class="img-fluid center"  src="{{ asset('img/sponsors/fiducial.png') }}"></a>
                        </div>
                        <div class="col-md-auto col-md-6 col-lg-3 align-self-center">
                            <a href="http://www.mustinformatique.com/"><img style="padding-top: 50px" class="img-fluid center" src="{{ asset('img/sponsors/must.png') }}"></a>
                        </div>
                        <div class="col-md-auto col-md-6 col-lg-3 align-self-center">
                            <a href="https://www.credit-agricole.fr/"><img style="padding-top: 50px" class="img-fluid center" src="{{ asset('img/sponsors/credit_agricole.png') }}"></a>
                        </div>
                        <div class="col-md-auto col-md-6 col-lg-3 align-self-center">
                            <a href="http://www.loire.fr/jcms/j_4149/accueil"><img style="padding-top: 50px" class="img-fluid center" src="{{ asset('img/sponsors/loire.png') }}"></a>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <img style="padding-top: 25px" class="img-fluid" src="{{ asset('img/sponsors/ferme_aubannerie.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
